<script
  src="https://code.jquery.com/jquery-3.3.0.min.js"
  integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4="
  crossorigin="anonymous"
></script>
<script src="js/nav.js"></script>
<link rel="stylesheet" type="stylesheet" href="css/sidebar.css" defer />
<div id="nav-bar">
  <input id="nav-toggle" type="checkbox" />
  <div id="nav-header">
    <a id="nav-title" href="/" target="_blank"
      ><i class="fas fa-home"></i>The Horse's Head</a
    ><label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
    <hr />
  </div>
  <div id="nav-content">
    <a class="nav-button" href="/blog">
      <i class="fas fa-newspaper-o"></i><span>Blog</span>
    </a>
    <a href="/projects" class="nav-button">
      <i class="fas fa-laptop"></i><span>Projects</span>
    </a>
    <a href="/toki-pona" class="nav-button">
      <i class="fas fa-language"></i><span>toki pona</span>
    </a>
    <hr />
    <div id="nav-content-highlight"></div>
  </div>
  <input id="nav-footer-toggle" type="checkbox" />
  <div id="nav-footer">
    <div id="nav-footer-heading">
      <div id="nav-footer-avatar">
        <img
          src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"
        />
      </div>
      <div id="nav-footer-titlebox">
        <a
          id="nav-footer-title"
          href="https://github.com/magnussonl/"
          target="_blank"
          >Lucy</a
        ><span id="nav-footer-subtitle">Webmaster</span>
      </div>
      <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
    </div>
    <div id="nav-footer-content">Programer and novice world-builder.</div>
  </div>
</div>
