<script src="{{ js/nav.js | relative_url }}" defer></script>
<div id="nav-bar">
  <input id="nav-toggle" type="checkbox" />
  <div id="nav-header">
    <a id="nav-title" href="/"><i class="fas fa-home"></i>The Horse's Head</a
    ><label for="nav-toggle"><span id="nav-toggle-burger"></span></label>
    <hr />
  </div>
  <div id="nav-content">
    <a class="nav-button" href="/blog">
      <i class="fas fa-newspaper-o"></i><span>Blog</span>
    </a>
    <a href="/projects" class="nav-button">
      <i class="fas fa-laptop"></i><span>Projects</span>
    </a>
    <a href="/toki-pona" class="nav-button">
      <i class="fas fa-language"></i><span>toki pona</span>
    </a>
    <hr />
    <div id="nav-content-highlight"></div>
  </div>
  <input id="nav-footer-toggle" type="checkbox" checked="checked" />
  <div id="nav-footer">
    <div id="nav-footer-heading">
      <div id="nav-footer-avatar">
        <img src='{{ "assets/profile-picture.webp" | relative_url }}' />
      </div>
      <div id="nav-footer-titlebox">
        <a
          id="nav-footer-title"
          href="https://github.com/magnussonl/"
          target="_blank"
          >Lucy</a
        ><span id="nav-footer-subtitle">Webmaster</span>
      </div>
      <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
    </div>
    <div id="nav-footer-content">{% include footer.html %}</div>
  </div>
</div>
