---
---

<!doctype html>
<html lang="en">
  <head>
    {% include html_head.html %}
  </head>
  <body>
    <header>
      2 Sugar Cubes
      <img src="/assets/button.webp" alt="2 Sugar Cubes button" />
    </header>
    {% include sidebar.html %}
    <article>
      {% capture anchor_body %}
      <i class="fa fa-link" aria-hidden="true"></i>
      {% endcapture %} {% include anchor_headings.html html=content
      anchorAttrs='aria-label="Permalink to %heading%"' anchorBody=anchor_body
      %}
    </article>
  </body>
</html>
